<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="">
        <link rel="stylesheet" href="css/notie.min.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" />
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <script src="javascript/jquery.min.js"></script>
        <script src="javascript/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css" />
        <link rel="stylesheet" href="css/select2BootstrapTheme.css" />
        <link rel="stylesheet" href="css/select2.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
        <link rel='stylesheet' href='css/style.css' />
        <link rel='stylesheet' href='css/sidenav.css' />
        <link rel='stylesheet' href='css/CommunityStyle.css' />
        <link rel='stylesheet' href='css/CrazyGraphics.css' />
        <script src="javascript/validation.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css" />
        <style type="text/css">
            header{
                height: 80px;
                background-color: white;
                padding: 10px
            }
            @media(max-width: 800px){
                .mobile-responsive{
                    display: none;
                }
            }
        </style>
        
</head>    
<body>

    <%- include('../partials/header', {post: d[0].post,name:d[0].username,data:d}); %>
    <% if(d[0].post == 2) { %>
      <% include ../partials/sidebarBuilder %>
     <% } else if(d[0].post == 3){ %>
      <% include ../partials/sidebarUser %>
      <% } else { %>
      <% include ../partials/sidebar %>
      <% } %>

        <div id="page-content-wrapper" style="padding:0;margin-top:60px"> <!--Margin Top is new-->
            <div class="container-fluid page-content-div" style="padding:0">
               <div class="row">
                  <div class="col-lg-12 scoll-possible" style="padding:0">
   
   
     
     <div class="community-header-top communityheader-profile-mobile" style="padding-top:6px;position:relative;">
       <div class="container pc">
       
   </div>
       <center>
           <div class="communityprofile-name-mobile" style="max-height:40px;overflow:scroll">
             <a href="/community/communityprofile/5ba5b046393e737dbe66f5d4" style="color:white">
                <%= data[0].name %>
             </a>
           </div>
       </center>
   
       <center>
         <a href="/community/communityprofile/5ba5b046393e737dbe66f5d4">
           <img src="/Upload/CommunityProfile/1540508025687.jpeg" class="mobile img-communityprofile-pic allSides" style="background:#fff" />
         </a>
       </center>
   
   </div>
   
   <div class="container community-profile-conatiner">
   <div class="col-sm-2 col-xs-12 center-mobile pc">
   <a href="/community/communityprofile/5ba5b046393e737dbe66f5d4">
     <img src="uploads/<%= typeof data[0].img != 'undefined' ? data[0].img : '' %>" class="img-communityprofile-pic allSides" style="background:#fff" />
   </a>
   </div>
   
   <div class="col-sm-8 communityprofile-name-pc">
     <a href="/community/communityprofile/5ba5b046393e737dbe66f5d4" class="communityprofile-name-pc">
      <%= data[0].name %>
     </a>
   </div>
   
   
   <div class="col-sm-2 col-xs-12 center-mobile" style="padding-top:10px;float:right">
   <div class="dropdown">
     <button class="btn btn-default dropdown-toggle commuity-profile-menu-btn" type="button" data-toggle="dropdown">
       <i class="fa fa-bars"></i>
     </button>
     <% if( f != 'd' ) { %>
     <ul class="dropdown-menu custom-commuity-dropdown dropdown-menu-right" style="margin-top:40px">
   
       
         <li>
             <a href="/community/discussion/5ba5b046393e737dbe66f5d4" class="community-profile-option-btn">
               Discussions
             </a>
         </li>
       
   
        <% if(d[0].post == 2 && data[0].owner == d[0].username ) { %>
         <li>
             <a href="/manageCommunity?name=<%= data[0].name %>" class="community-profile-option-btn">
               Manage Community
             </a>
         </li>
       <% } %>
   
         <li>
             <a href="/communityProfile?name=<%= data[0].name %>" class="community-profile-option-btn">
               Community Profile
             </a>
         </li>
   
         <li>
             <a href="/memberList?name=<%= data[0].name %>" class="community-profile-option-btn">
               Community Members
             </a>
         </li>
   
       </ul>
       <% } %>
   </div>
   </div>
   
   </div>
   <center>
       <hr style="border-top:2px solid #E6E6E6;width:85%;margin-top:0">
   </center>
   
   <style>
     .child-reply-input{
       display: none !important;
     }
   </style>
   <link rel='stylesheet' href='/stylesheets/Discussion.css' />
   <div class="container" style="width:94% !important">
         
       <div class="col-sm-3 col-xs-12">

        <% if(f == 'd' ) { %>
    
          <% if(data[0].rule == 1) { %>
            <% var a="Join"; %>
            <% } else { %>
            <% var a="Ask to Join"; %>
            <% } %>
            
            <form class="form-inline my-2 my-lg-0" action="/discover" method="POST">
            <input class="form-control mr-sm-2" type="text" value="<%= data[0].name %>" id="name" name="name" hidden/>
            <input class="form-control mr-sm-2" type="text" value="<%= a %>" id="value" name="value" hidden/>
            <span><input class="btn btn-success my-2 my-sm-0" id="button" type="submit" value="<%= a %>"></span>
            </form>
          </br>
        <% } else { %>
          
         <div class="panel panel-default allSidesSoft" style="border-radius:0">
           
             <div class="panel-heading" style="border:0;border-radius:0">
                 Members
                 <a href="/memberList?name=<%= data[0].name %>" style="float:right">View all</a>
             </div>
           
           <div class="panel-body" style="border:0;border-radius:0">
             
             <div class="col-sm-12 col-xs-12" style="padding:0" id="membersDiv-4joinedUser">
                 <div class="col-sm-6 col-xs-3 col-md-3 col-lg-3 center-all" style="padding:0;">
                   <a href="/viewprofile/5ba5ace5393e737dbe66f5cb" class="communityProfileUserImage">
                     <img class="communityProfileUserImage allSidesSoft" src="/Upload/Profile/default.png" />
                   </a>
                 </div>
             </div>
             
           </div>
           <div class="panel-footer community-panel-sideBtn-link">
             
                 <a href="/memberList?name=<%= data[0].name %>" style="">
                   <%= data[0].members.length-1 %> Members
                 </a>
            <% if(data[0].owner != d[0].username ) { %>   
                <span style="padding-left: 9%;"> <a href="/leaveCommunity?name=<%= data[0].name %>&uname=<%= d[0].username %>&umail=<%= d[0].email %>" style="">
                  Leave Community
                </a></span>
             <% } %>
           </div>
         </div>
   <% } %>
           <div class="panel panel-default allSidesSoft" style="border-radius:0">
             <div class="panel-heading" style="border:0;border-radius:0">
               Community Admins
             </div>
             <div class="panel-body" style="border:0;border-radius:0">
               <div id="commuity-owner-detail">
                 <%= data[0].owner %>
               </div>
            <% for(var i=0;i<data[0].admin.length-1;i++) { %>   
               <div id="commuity-admins-detail">
                <%= data[0].admin[i].username %>
               </div>
               <% } %>
             </div>
           </div>
       </div>
       <style>
         .full-description{
           display:none;
         }
         .less-description-btn{
           display: none;
         }
       </style>
       <div class="col-sm-8 col-xs-12 separator-community-admin" style="padding:0 10px 10px 10px;">
   
         <div class="panel panel-default allSidesSoft" style="border-radius:0">
           <div class="panel-heading center-all" style="border:0;border-radius:0">
             About Community
           </div>
           <div class="panel-body" style="border:0;border-radius:0;overflow:scroll">
             
             
                 <p class="short-description center-all">
                   <%= data[0].description %>
                   
                 </p>
                 <!-- <div class="full-description">
                   <h4 style="text-align: left; box-sizing: inherit; margin: 0px;padding: 0; border: 0px; outline: 0px; vertical-align: baseline;"><strong style="color: inherit; font-family: inherit; background-color: initial;">The FINANCE CLUB focuses&nbsp;on helping finance professionals to grow their industry network, enhance their career and close more deals.</strong><br><span style="font-size: 14px;"><strong><br></strong></span></h4><p style="box-sizing: inherit; margin: 0px; border: 0px; outline: 0px; vertical-align: baseline; line-height: 24px; white-space: pre-wrap; color: rgba(0, 0, 0, 0.6);"></p><ul><li><strong style="background-color: initial;">Accounting</strong><br></li><li><strong style="background-color: initial;">Banking</strong><br></li><li><strong style="background-color: initial;">Capital Markets</strong><br></li><li><strong style="background-color: initial;">Financial Services</strong><br></li><li><strong style="background-color: initial;">Insurance</strong><br></li><li><strong style="background-color: initial;">Investment Banking </strong><br></li><li><strong style="background-color: initial;">Investment Management</strong><br></li><li><strong style="background-color: initial;">Real Estate</strong><br></li><li><strong style="background-color: initial;">Venture Capital</strong><br></li><li><strong style="background-color: initial;">Private Equity</strong><br></li></ul><h4><span style="box-sizing: inherit; margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: 0px 0px;"><strong>Benefits of group members:</strong></span></h4><span style="box-sizing: inherit; margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: 0px 0px;">+ CONNECT with other finance professionals from all  
      over the world
   + FIND the next finance job or employee
   + LEARN from and participate in finance discussions
   + NETWORKING events will be organized in major 
      cities (i.e. London, New York, Frankfurt)
   + INDUSTRY and LOCAL subgroups will help you 
      further  
   
   </span><h3><span style="box-sizing: inherit; margin: 0px; padding: 0px; border: 0px; outline: 0px; vertical-align: baseline; background: 0px 0px;">Join the Finance Club now, it is free.&nbsp;</span></h3><p></p>
                 </div> -->
             
           </div>
           
             <div class="panel-footer center-all">
                     <a class="btn btn-default btn-sm community-profile-btn more-description-btn" onclick="showHideDescription(1)" style="cursor:pointer">
                       more <i class="fa fa-info-circle"></i>
                     </a>
                     <a class="btn btn-default btn-sm community-profile-btn less-description-btn" onclick="showHideDescription(0)" style="cursor:pointer">
                       less <i class="fa fa-info-circle"></i>
                     </a>
             </div>
           
         </div>
   
           <div class="col-sm-12" id="needGlobalInProfile" style="padding:0">
               <!--Here global will come-->
           </div>
       </div>
   </div>
   
   
   </div>
   </div>
   </div>
   </div>
   <script src="/Plugins/js/vibrant.js"></script>
   <script src="javascripts/Common.js"></script>
   <script src="js/notie.min.js"></script>
   <script src="javascripts/CommunityHelper.js"></script>
   <script src="javascripts/helper/DScrapingApi.js"></script>
   <script src="javascripts/helper/DiscussionHelper.js"></script>
   <script src="javascripts/CommunityhProfile.js"></script>
   <script src="javascripts/DiscussionComments.js"></script>
   
   <script>
   var selector = '.nav li';
   $(selector).removeClass('active');
   $('#community-panel-nav').addClass('active');
   </script>
   <% include ../partials/footer %>
   </body>
   </html>